body {
    margin: 0;
    padding: 0;
    background-image: url(../bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}



h1, p {
    color: white;
    text-align: center;
    transition-property: font-size;
    transition-duration: 400ms;
}

h1 {
    margin: 30px 10px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin: 30px 10px;
    max-width: 60%;
    font-family: 'SFUIText-Regular';
}

div {
    align-items: center;
    justify-content: center;
}

.btn {
    color: white;
    font-size: 20px;
    font-family: 'AdobeCleanSemiCn';
    text-decoration: none;
    padding: 10px 20px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur(5px);
    border-radius: 18px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0px 0px 10px gray;
    text-shadow: 2px 2px 10px black;
    transition-property: background, width, padding, margin, border-radius, font-size;
    transition-duration: 400ms;
}

.btn:hover {
    border-radius: 10px;
    background: #0073ffa1;
}

.btn:active {
    font-size: 18px;
}

.act1 {
    margin-bottom: 40px;
}

.comments h1{
    margin-top: 30px;
}


@font-face {
    font-family: 'SFUIText-Regular';
    src: url(../styles/fonts/SFUIText-Regular.woff);
}


@font-face {
    font-family: 'AdobeCleanSemiCn';
    src: url(../styles/fonts/AdobeCleanSemiCn.woff);
}


@media (max-width: 903px) {
    .btn {
        border-radius: 30px;
        padding: 20px 0px;
        display: block;
        margin: 20px 40px !important;
    }
    
    .btn:hover {
        font-size: 20px;
        border-radius: 30px;
        background: rgba( 255, 255, 255, 0.25 );    
    }
    
    .btn:active {
        font-size: 20px;
    }
    
    p {
        font-size: 20px;
        margin: 30px 10px;
        max-width: 100%;
        font-family: 'SFUIText-Regular';
    }

    
    .act1 {
        margin-bottom: 0px;
}
