body {
    margin: 0;
    padding: 0;
    background-image: url(../bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}


header {
    background: rgba( 0, 0, 0, 0.2 );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition-property: border-radius, margin;
    transition-duration: 200ms;
}

header:hover {
    margin: 0px 10px;
    border-radius: 10px;
}

header:hover #p1 {
    left: 20px;
}

header:hover #p2 {
    right: 20px;
}

header #p1 {
    margin: 0;
    top: 10px;
    left: 10px;
    position: absolute;
    transition-property: left;
    transition-duration: 400ms;

}

header #p2 {
    margin: 0;
    top: 10px;
    right: 10px;
    position: absolute;
    transition-property: right;
    transition-duration: 400ms;
}

h1, p {
    color: white;
    text-align: center;
}

h1 {
    margin: 30px 10px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    margin: 30px 10px;
    max-width: 60%;
    font-family: 'SFUIText-Regular';
}

div {
    align-items: center;
    justify-content: center;
}

.acts .ass {
    margin-left: 95px;
    margin-top: 40px !important;
}

.btn {
    color: white;
    font-size: 20px;
    font-family: 'AdobeCleanSemiCn';
    text-decoration: none;
    padding: 10px 20px;
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur(0.5px);
    border-radius: 18px;
    text-shadow: 0px 0px 10px black;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition-property: background, border-radius, box-shadow;
    transition-duration: 400ms;
}

.btn:hover {
    border-radius: 10px;
    background: #143c5e83;
    box-shadow: 0px 0px 10px gray;
}



.acts::-webkit-scrollbar {
    height: 15px;
    background-color: transparent;
}

.acts::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba( 255, 255, 255, 0.25 );
}

.comments h1{
    margin-top: 30px;
}


@font-face {
    font-family: 'SFUIText-Regular';
    src: url(../styles/fonts/SFUIText-Regular.woff);
}


@font-face {
    font-family: 'AdobeCleanSemiCn';
    src: url(../styles/fonts/AdobeCleanSemiCn.woff);
}




@media (max-width: 903px) {
    .btn {
        text-shadow: none;
        border-radius: 30px;
        padding: 15px 10px;
        display: inline-block;
        margin: 0px 5px !important;
    }

    header:hover {
        margin: 0px 0px;
        border-radius: 0px;
    }

    .acts {
        overflow: auto;
        white-space: nowrap;
        margin: 0px 10px;
        padding: 20px 10px;
    }

    .acts .ass {
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    
    
    
    p {
        margin: 30px 10px;
        max-width: 100%;
        font-family: 'SFUIText-Regular';
    }

    section.act1 {
    overflow: auto;
    white-space: nowrap;
    }

    
    .act1 {
        margin-bottom: 0px;
}
